/* General Settings */
.landing-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem; 
  background-color: white;
  color: black;
  height: 60px;
  width: 100%;
  position: fixed;
 
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 40px; 
}

.logo-img {
  width: 60px; 
  height: auto; 
  margin-top:-15px;
}
.title{
  padding-left: 10px;
  margin-top:-10px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-top: 30px;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease; 
  
}

.nav-links a:hover {
  color:#6D31ED; 
}

.auth-buttons {
  display: flex;
  margin-right: 2rem;
}


.login-btn, .signup-btn {
  margin-top:45px;
  margin-left: 1rem;
  padding: 0.5rem 1rem; /* Adjust padding to fit screen */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color:#6D31ED;
  color: white;
  transition: background-color 0.3s ease; /* Smooth transition for hover effects */
}

.login-btn:hover, .signup-btn:hover {
  background-color: #6D31ED; 
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 3rem 1rem; 
}

.hero-img-placeholder {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 30px;
}
.gettologin{
  
  transition: background-color 0.3s ease;
  background-color:#6D31ED;
  color: white;
  border:none;
  width:max-content;
  border-radius: 5px;

}
.gettologin:hover{
  background-color: #6D31ED;
}
.description{
  height:10px;
  width:800px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  margin-left: 23%;
  
}


.imagelanding1{
  height:300px;
  width:300px;
  margin-left:20%;
  border-radius: 8px;

}
.imagelanding2{
  height:300px;
  width:300px;
  margin-left:20%;
  border-radius: 8px;

}
.section {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  
}



.section-reverse{
  flex-direction: row-reverse;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  color: #666;
}



