/* HOME PAGE CSS */
.home_header {
    display: flex;              
    justify-content: center;     
  }
  .home_header h1{
    margin-top: 20px;
    font-size: 40px;
  }
  .home_main_one{
    margin-top: 30px;
  }
  .home_main_one h3{
    font-size: 30px;
    font-weight: bolder;
  }
  .home_main_one h3 span{
    font-size: 20px;
    font-weight: 200;
  }
  .home_main_one h6{
    font-size: 17px;
    margin-top: 3px;
    color: #7f7b74;
    font-weight: 100;
  }
  
  .home_main_two{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
  }
  .home_main_two .part_two img{
    display: inline-block;
  }
  .home_main_two .part_two{
    padding-right: 70px;
  }
  .home_main_two .part_one h1{
    font-weight: 100;
  }
  .home_main_two .part_one span{
    font-size: 70px;
    font-weight: 800;
  }
  
  .home_main_three{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: 30px;
    padding: 0px;
    gap: 0px;
    padding-bottom: 10px;
    justify-content: center;
    background-color: #C77474;
    overflow: hidden;
    border-radius: 10px;
  }
  .dashboard-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    max-width: 900px; 
    margin: 20px auto; 
  }
  
  .card {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    background-color: #f2b7b5; 
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    width: 250px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; 
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  
  
  .card i {
    font-size: 2.5rem;
    color: #8b3b3b; 
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #3b3b3b; 
  }
  
  .card .number {
    font-size: 2rem;
    font-weight: bold;
    color: green;
  }
  
  .card .description {
    font-size: 0.9rem;
    color: #555;
  }
  
  
  .dashboard-btn {
    background-color: #8b3b3b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  .dashboard-btn:hover {
    background-color: #6f2b2b;
  }